* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: #F1F1F1;
}

header {
  height: 25rem;
  background-color: #F1F1F1;
}

.cabecalho {
  background-color: #FF00B6;
  height: 12rem;
}

.perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
  color: #FFFFFF;
}

.perfil img {
  width: 5rem;
}

.info-perfil p {
  margin-bottom: .3rem;
  font-size: 1.1rem;
}

.info-perfil h2 {
  font-weight: bold;
}

.icone-notificacao {
  font-size: 1.5rem;
}

.mes {
  text-align: center;
  color: #FFFFFF;
  font-weight: 100;
  font: 1.2rem;
}

.mes span {
  font-weight: bold;
}

.saldo {
  background-color: #FFFFFF;
  position: relative;
  margin: -3rem 1rem 0;
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 20px gray;
}

.saldo-atual {
  display: flex;
  gap: 1rem;
  margin-left: .5rem;
}

.saldo-atual img {
  height: 4.5rem;
}

.saldo-atual h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

.detalhes {
  display: flex;
  align-self: flex-end;
  margin-bottom: -.5rem;
}

.detalhes a, .receitas a, .despesas a {
  color: black;
  text-decoration: none;
  transition: .3s;
}

.detalhes a:hover, .receitas a:hover, .despesas a:hover {
  color: #FF00B6;
  cursor: pointer;
}
  
.receitas-despesas {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.receitas, .despesas {
  background-color: #FFFFFF;
  margin: 1rem;
  padding: .5rem;
  border-radius: 15px;
  width: 50%;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 20px gray;
}

.receitas-texto, .despesas-texto {
  margin-top: .5rem;
}

.receitas i, .despesas i {
  font-size: 2rem;
  margin: 0 1rem;
}

.receitas i {
  color: green;
}

.despesas i {
  color: darkred;
}

.conteudo-principal {
  margin: 0 1.5rem;
}

.conteudo-principal h2 {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.lista-itens {
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 5px 5px 20px gray;
}

.item {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.item p {
  line-height: 1rem;
  font-size: 1rem;
}

.item i {
  font-size: 2.5rem;
  color: #3e3e3e;
  margin-top: .5rem;
}

.descricao-item h3 {
  font-size: 1.6rem;
}

.detalhes-item {
  text-align: right;
}

.detalhes-item i {
  font-size: 1rem;
}

.item-despesa {
  color: red;
}

.item-receita {
  color: green;
}

footer {
  margin: 2rem;
  text-align: center;
}

footer a {
  text-decoration: none;
  color:black;
  transition: .3s;
}

footer a:hover {
  color:#FF00B6;
  cursor: pointer;
}

@media (min-width: 768px) {

  .saldo {
    width: 40%;
    margin-top: -1rem;
  }

  .receitas-despesas {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
  }
  
  .receitas, .despesas {
    width: 40%;
  }

  .receitas i, .despesas i {
    font-size: 2.5rem;
    margin: 0 1rem;
  }

  .conteudo-principal {
    position: relative;
    margin-left: 45%;
    margin-top: -14rem;
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 5px 5px 20px gray;
  }

  .conteudo-principal h2 {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .lista-itens {
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 0;
  }

  .descricao-item h3 {
    font-size: 2rem;
  }

  .item p {
    line-height: 1rem;
    font-size: 1rem;
  }
  
  .item i {
    font-size: 2.5rem;
    color: #3e3e3e;
    margin-top: .5rem;
  }

  .detalhes-item i {
    font-size: 1.1rem;
  }
  

}